<!DOCTYPE html>
<html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
        {% if category %}
        <div class="panel panel-primary">
        <h2 class="panel-heading">{{ category_name }}</h2>
            {% if pages %}
                <ul class="list-group">
                {% for page in pages %}
                    <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a> </li>
                {% endfor %}
                </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
            <a href="/rango/category/{{ category.slug }}/add_page">Add Page</a>
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
        </div>
{% endblock %}
</html>