<!DOCTYPE html>
<html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
        {% if user.is_authenticated %}
        <h1>Rango says... Hello {{ user.username }}</h1>
        {% else %}
        <h1>Rango says... Hello World</h1>
        {% endif %}
        <p>visits: {{ visits }}</p>
        {% if categories %}
            <strong>Most liked categories: </strong>
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'category' category.slug %}"> {{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories to present.</strong>
        {% endif %}

        {% if pages %}
            <strong>Most view pages: </strong>
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages to display here</strong>
        {% endif %}
{% endblock %}
</html>